body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App_margin {
  padding-top: 56px;
}

//Navbar
@import './partials/Nav-scss/Nav';

//Navbar_DrawerButton
@import './partials/Nav-scss/DrawerButton';

//Navbar_SideDrawer
@import './partials/Nav-scss/SideDrawer';

//Site backdrop
@import './partials/Nav-scss/Backdrops';
