
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App_margin {
  padding-top: 60px;
}

.App_space{

}

.text_transition {
  transition: opacity 0.35s ease-in-out;
  opacity: 0;
}
.text_transition.ease {
  opacity: 1;
}

.element_transition {
  transition: 0.55s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}
.element_transition.ease {
  transform: translateX(0);
  opacity: 1;
}

.mainBody_transition {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.mainBody_transition.ease {
  opacity: 1;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 640px) {
  .App_margin {
    padding-top: 0;
  }
  .App_space {
    width: 75%;
    margin: 0;
  }
  .Nav_space {
    float: right;
    width: 25%;
    height: 100vh;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .App_space {
    width: 85%;
    height: 100vh;

  }
  .Nav_space {
    width: 15%;
  }
}

//Navbar
@import "./partials/Nav-scss/Nav";

//Navbar_DrawerButton
@import "./partials/Nav-scss/DrawerButton";

//Navbar_SideDrawer
@import "./partials/Nav-scss/SideDrawer";

//Site backdrop
@import "./partials/Nav-scss/Backdrops";

//About page
@import "./partials/Pages/about.scss";

//Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
