.aboutStyles {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .aboutContainer {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
        position: relative;
        width: 100%;
        margin-top: 12%;

        .aboutHead {
            position: relative;
            width: 100%;
            height: 20vh;
            background: #7510f7;
            h1 {
                margin: 0;
                padding-top: 7%;
                font-size: 2rem;
                color: white;
                text-align: center;
            }
        }

       

        .aboutText {
            position: relative;
            display: inline-block;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            height: auto;
            width: 85%;
            margin-left: 7.5%;
            margin-top: -10%;
            background: white;
            border-radius: 12px;
            img {
                margin-top: -10.5vh;
                margin-left: -4.5vh;
                width: 32%;
                padding: none;
                margin-right: 50%;
            }
            h2 {
                color: #7510f7;
                text-align: center;
            }
            p {
                padding-left: 2%;
                padding-right: 2%;
                margin-bottom: 6%;
                text-align: center;
                color: rgba(10, 10, 10, 0.9);
            }
        }
    }

    .skillsBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-basis: auto;
        text-align: center;
        margin: auto;
        margin-top: 0;
        background: white;
        border-radius: 10px;
        padding-bottom: 10%;

        div {
            width: auto;
            height: fit-content;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-right: 1px solid #e6ecf8;
            border-left: 1px solid #e6ecf8;
            padding: 0 3%;

            h2 {
                margin-bottom: 2%;
            }

            ul{
                padding: 0;
                li {
                    list-style-type: none;
                }
            }
           
            h3 {
                color: #7510f7;
                margin-bottom: 0;
            }
            svg {
                padding-top: 20%;
                align-self: center;
                width: 20%;
                height: auto;
            }
        }
    }
}
.aboutContainer.ease {
    opacity: 1;
}

@media only screen and (min-width: 640px) {
    .aboutStyles {
        .aboutContainer {
            margin-top: 0;
            .aboutHead {
                height: 25vh;
            }

            .aboutText {
                margin-top: -3%;
                img {
                    margin-top: -20%;
                    width: 28%;
                    margin-left: 0;
                }
            }
        }

        .skillsBox {
            flex-direction: row;
            align-items: flex-start;
            height: 100%;
            div {
                height: max-content;
                svg {
                    padding-top: 30%;
                    height: 60px;
                    width: 60px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .aboutStyles {
        height: 100vh;
        flex-direction: row;
        overflow: hidden;
        .aboutContainer {
            width: 50%;
            margin-top: 1%;
            height: 98%;
            margin-left: 2%;
            display: flex;
            flex-direction: column;
           

            .aboutHead {
                height: 20%;
                margin-top: none;
                border-radius: 3px;
                display: flex;
                h1 {
                    padding: 0;
                    margin-top: 3%;
                    margin: auto;
                    font-size: 2.5rem;
                }
            }

            .aboutText {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 80%;
                margin-top: -5%;
                margin-left: 0;
                img {
                    margin-top: -14%;
                    width: 20%;
                }
                h2 {
                    margin-bottom: 1%;
                }
                p {
                    margin: 0;
                    margin-bottom: auto;
                    font-size: 1rem;
                    padding-left: 3%;
                    padding-right: 3%;
                }
                .aboutTopHead{
                    margin-top: -5%;
                }
            }
        }

        .skillsBox {
            width: 46%;
            padding-bottom: 0;
            overflow: auto;
            ::-webkit-scrollbar {
                display: none;
            }
            div {
                min-height: 100%;
                height: auto;
                svg {
                    padding-top: 15%;
                    height: 70px;
                    min-height: 60px;
                    width: 70px;
                }
            }
        }
    }
}
