//transition for cards
.card_transition {
    height: 100%;
    transition: transform 0.5s ease, opacity 0.6s ease;
    transform: translatey(150px);
    opacity: 0;

    .imYUvI {
        height: 100%;
        .grBOFc {
            height: 100%;
        }
        .gwZiig {
            height: 100%;
        }
        .dHQcjo {
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: auto;
            margin-left: 0.8%;
            top: 45%;
            svg {
                transform: scale(-1, 1);
                transition: 0.3s ease-in;
                color: #7510f7;
                background: white;
                width: auto;
                padding: 5px;
                height: 1.5vh;
                border-radius: 50%;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            }

            svg:active {
                transition: 0.1s ease-in;
                color: white;
                background: #7510f7;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }
        .aoTUt {
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: auto;
            margin-right: 0.8%;
            top: 45%;
            svg {
                transition: 0.3s ease-in;
                color: #7510f7;
                background: white;
                width: auto;
                padding: 5px;
                height: 1.5vh;
                border-radius: 50%;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            }

            svg:active {
                transition: 0.1s ease-in;
                color: white;
                background: #7510f7;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }
    }
}
.card_transition.ease {
    transform: translatey(0);
    opacity: 1;
}

.cardStyles {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fbfbff;

    //styling for cards
    .Cards {
        width: 85%;
        height: 85%;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.2);
        margin-left: auto;
        margin-right: auto;
        margin-top: 12vh;
        left: 0;
        right: 0;
        border-radius: 4px;
        overflow: hidden;
        background: #7510f7;
        display: flex;
        flex-direction: column;

        //container for image/video box
        .image-iframeContainer {
            display: flex;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            height: 0;
            background: #141c3a;
            overflow: hidden;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                background-repeat: no-repeat;
                margin: auto;
            }

            iframe {
                position: absolute;
                margin: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        .webButton {
            position: relative;
            margin-top: -30px;
            width: 100%;
            height: 5%;
            overflow: show;
            padding: 0;
            
            svg {
                width: 5vh;
                height: auto;
                transition: 0.3s ease-in;
                background: white;
                color: #7510f7;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                padding: 10px;
                border-radius: 50%;
                float: right;
                margin-right: 5%;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

            }

            svg:active {
                transition: 0.1s ease-in;
                color: white;
                background: #7510f7;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            }
        }

        //headings and text for the cards

        h1 {
            margin-left: 2.5%;
            color: white;
            width: 80%;
            padding-right: 15%;
            padding-bottom: 1vh;
            margin-bottom: 2px;
            border-bottom: 0.8px solid white;
        }

        .techList {
            margin: auto;
            width: 90%;
            color: white;
            text-align: center;
            font-size: 0.85rem;
            margin-bottom: 0;
            margin-top: 0;
            background: none;
        }
        .descriptionContainer {
            background: white;
            width: 100%;
            .description {
                color: black;
                width: 95%;
                margin: auto;
                font-size: 1rem;
                padding: 2%;
            }
        }

        //styling to fix the carousel
        .carousel-root {
            flex: 1;
        }

        .carousel {
            z-index: 0;
        }

        .carousel,
        .slider-wrapper,
        .slider {
            height: 100%;
        }

        .slide {
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

        .carousel.carousel-slider {
            .control-arrow {
                opacity: 0%;
                background: none;
                -webkit-touch-callout: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .control-next {
                padding-left: 40%;
                padding-right: 5%;
            }
            .control-prev {
                padding-right: 40%;
                padding-left: 5%;
            }
            .control-arrow:active {
                transition: 0.1s ease-in;
                opacity: 100%;
            }
        }
    }
}

@media only screen and (min-width: 640px) {
    .card_transition {
        .imYUvI {
            .dHQcjo {
                svg {
                    height: 1.8vh;
                }
            }

            .aoTUt {
                svg {
                    height: 1.8vh;
                }
            }
        }
    }

    .cardStyles {
        .Cards {
            margin-top: 10%;
            height: 90%;
            h1 {
                font-size: 2.5rem;
            }
            .techList {
                font-size: 1rem;
                padding: 1%;
            }

            .descriptionContainer {
                .description {
                   font-size: 1.1rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .card_transition {
        .imYUvI {
            .dHQcjo {
                margin-left: 8%;
                top: 45%;
                svg {
                    height: 5.5vh;
                    padding: 22px;
                }
                svg:hover {
                    transition: 0.2s ease-in;
                    color: white;
                    background: #7510f7;
                    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
                }
            }
            .aoTUt {
                margin-right: 8%;
                top: 45%;
                svg {
                    height: 5.5vh;
                    padding: 22px;
                }
                svg:hover {
                    transition: 0.2s ease-in;
                    color: white;
                    background: #7510f7;
                    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
                }
            }
        }
    }

    .cardStyles {
        .Cards {
            margin-top: 1%;
            width: 60%;
            height: 95%;

            .webButton {
                svg:hover {
                    transition: 0.3s ease-in;
                    color: white;
                    background: #7510f7;
                    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
                }
            }
    
        }
        .carousel.carousel-slider {
            .control-arrow:hover {
                transition: .3s ease-in-out;
                opacity: 80%;
            }
        }
    }    
}
