.aboutStyles {
    display: flex;
    width: 100%;
    height: 100vh;
}

.aboutContainer {
    position: relative;
    width: 100%;
    height: 85%;
    margin-top: 0%;

    img {
        position: absolute;
        width: auto;
        margin-top: 2%;
        height: 21%;
        z-index: 10;
    }

    .aboutHead {
        position: absolute;
        width: 100%;
        height: 20%;
        background: #7510f7;
        h1 {
            margin-top: 0;
            font-size: 2rem;
            color: white;
            text-align: center;
        }
    }

    .aboutText {
        position: absolute;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        height: 80%;
        width: 85%;
        margin-left: 7.5%;
        background: white;
        border-radius: 12px;
        margin-top: 27%;
        p {
            text-align: center;
            margin-top: 14%;
            color: rgba(10, 10, 10, 0.9);
        }
    }
}

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 1025px) {

    .aboutContainer {
        width: 55%;
        height: 100%;
        margin-left: 4%;

        img {
            height: 22%;
        }

        .aboutHead {
            margin-top: 2%;
            border-radius: 3px;
            h1 {
                padding-top: 2.5%;
                font-size: 3rem;
            }
        }

        .aboutText {
            width: 100%;
            margin-top: 20%;
            margin-left: 0;
            p {
                margin-top: 10%;
                color: rgba(10, 10, 10, 0.9);
                font-size: 1.2rem;
            }
        }
    }
}
