.aboutStyles {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .aboutContainer {
        transition: opacity 0.25s ease-in-out;
        opacity: 0;
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 0%;

     

        .aboutHead {
            position: relative;
            width: 100%;
            height: 20vh;
            background: #7510f7;
            h1 {
                margin: 0;
                padding-top: 7%;
                font-size: 2rem;
                color: white;
                text-align: center;
            }
        }

        img {
            position: absolute;
            width: auto;
            margin-top: -30%;
            width: 26%;
            padding: none;
            z-index: 10;
        }

        .aboutText {
            position: relative;
            display: inline-block;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            height: auto;
            width: 85%;
            margin-left: 7.5%;
            margin-top: -10%;
            background: white;
            border-radius: 12px;
            h2 {
                color: #7510f7;
                text-align: center;
                margin-top: 14%;
            }
            p {
                text-align: center;
                color: rgba(10, 10, 10, 0.9);
            }
        }
    }

    .skillsStyles {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        .skillsBox {
            display: flex;
            flex-direction: row;
            margin: auto;
            margin-top: 0;
            div {
                display: flex;
                flex-direction: column;
                svg {
                    align-self: center;;
                    width: 22%;
                    height: auto;
                }
              
            }
        }
    }
}
.aboutContainer.ease {
    opacity: 1;
}

@media only screen and (min-width: 640px) {
    .aboutStyles {
        .aboutContainer {
            height: 70%;

            .aboutHead {
                h1 {
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .aboutStyles {
        flex-direction: row;
        .aboutContainer {
            width: 55%;
            height: 98%;
            margin-top: 1%;
            margin-left: 4%;
            img {
                margin-top: -20%;
                width: 20%;
                height: auto;
            }

            .aboutHead {
                margin-top: none;
                border-radius: 3px;
                h1 {
                    font-size: 2.5rem;
                }
            }

            .aboutText {
                width: 100%;
                height: 82%;
                margin-top: -5%;
                margin-left: 0;
                h2 {
                    margin-top: 10%;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }

        .skillsStyles {
            width: 41%;
        }
    }
}
