// SideDrawer
.side-drawer {
  height: 100vh;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-105%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.sidedraw-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 100%;
  background: #7510f7;
  h1{
    color: white;
  }
}

.side-drawer ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-inline-start: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 70%;
    transition: 0.15s ease-in;
    color: #7510f7;
    box-shadow: 0 0 0 2.5px #7510f7;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0 20px;
  }

  a:active,
  a:hover {
    transition: 0.15s ease-in;
    color: white;
    background: #7510f7;
  }

}

.current {
  transition: 0.15s ease-in-out;
  background: #7510f7;

  li {
    transition: 0.15s ease-in-out;
    color: white;
  }
}
